.grid-item {
  display: grid;
  gap: 1rem 1rem;
  padding: 2rem;
  justify-items: center;
  
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}
h1 {
  text-align: center;
}

.grid-item  p {
  text-align: center;
}

.Card {
  margin-top: 20px;
}